{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-12">

    <h1>{{ member.user.username }}</h1>
    <ul>
    	<li>PK: {{ member.pk }}</li>
    	<li>Email: {{ member.user.email }}</li>
    	<li>Favourite city: {{ member.favourite_city }}</li>
    	<li>Extra data: {{member.extra_data}}</li>
    	<li>Social: {{member.social_response}}</li>
    	{% if member.visits %}
    	<li>Visits</li>
    	<ul>
    		{% for visit in member.visits %}
    		<li>{{ visit }}</li>
    		{% endfor %}
    	</ul>
    	{% endif %}
    </ul>
  </div>
</div>
{% endblock content %}
