<html>
<head>
  <title>UNESCO World Heritage Sites</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
</head>
<body>
<h1>UNESCO World Heritage Sites</h1>

{% block content %}
{% endblock %}

<footer>
  <p>
{% if user.is_authenticated %}
    <p>Logged-in as:  {{ user.username }}, favourite city: {{ user.favourite_city }} | 
    <a href="{% url 'logout' %}">Logout</a></p>
{% else %}
    <a href="{% url 'login' %}">Login</a> 
{% endif %}
  </p>
</footer>
</body>
</html>
