{% extends "base.html" %}
{% load leaflet_tags %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">

      {% autoescape off %}

      <h1>{{ whsite }}</h1>
      <!-- <img class="thumbnail" src="{{ whsite.image_url }}" /> -->
      <div class="col-md-6">
        {{ whsite.short_description }}
        {% if whsite.nearby_sites %}
        <p>Sites within 100km of this one: <ul>
          {% for nearby in whsite.nearby_sites %}
          <li><a href="{% url "whsites:detail" nearby.pk %}">{{ nearby.name }}</a></li>
          {% endfor %}
        {% endif %}
        </ul></p>
        <p>Further details can be found at the <a href='{{ whsite.http_url }}'>UNESCO World Heritage Centre web site</a>.</p>
      </div>
      <div class="col-md-6">
        {% leaflet_map "sitelocationmap" callback="main_map_init" %}
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function main_map_init (map, options) {
    // Use Leaflet API here
    var dataurl = '{% url "whsites:data" whsite.pk %}';
    // Download GeoJSON via Ajax
    $.getJSON(dataurl, function (data) {
        // Add GeoJSON layer
        L.geoJson(data).addTo(map);
    });    }
  </script>
{% endautoescape %}

{% endblock content %}
