<!DOCTYPE html>
{% load staticfiles %}
{% load leaflet_tags %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- styles borrowed form the Flatly theme at http://www.bootstrapzero.com/bootstrap-template/flatly-theme -->
    <link rel="icon" href="/favicon.ico" sizes="16x16 24x24 32x32 64x64" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootswatch.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/unesco.css' %}">
    {% leaflet_js %}
    {% leaflet_css %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->    
    <title>{% block head_title %}UNESCO World Heritage Sites{% endblock %}</title>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
	 <div class="navbar-header">
	   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	     <span class="icon-bar"></span>
	     <span class="icon-bar"></span>
	     <span class="icon-bar"></span>
	   </button>
	   <a class="navbar-brand" href="#">
	     <img src="{% static 'images/unesco-passport-stamp-50.png' %}" alt="UNESCO">
	   </a>
	 </div>
	 <div class="navbar-collapse collapse navbar-responsive-collapse">
	   <ul class="nav navbar-nav">
	     <li class="active"><a href="/">Home</a></li>
<!--             <li><a href="#about">About</a></li>  -->
             <li><a href="{% url 'whsites:list' %}">Sites</a></li>

	     <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Regions <b class="caret"></b></a>
               <ul class="dropdown-menu">
		 <!-- NASTY HACK - HARDCODED REGION NUMBERS -->
		 <li><a href="{% url 'whsites:list' %}region/1">Latin America and the Caribbean</a></li>
		 <li><a href="{% url 'whsites:list' %}region/2">Europe and North America</a></li>
		 <li><a href="{% url 'whsites:list' %}region/3">Africa</a></li>
		 <li><a href="{% url 'whsites:list' %}region/4">Asia and the Pacific</a></li>
		 <li><a href="{% url 'whsites:list' %}region/5">Arab States</a></li>
               </ul>

	     <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Categories <b class="caret"></b></a>
               <ul class="dropdown-menu">
		 <!-- NASTY HACK - HARDCODED CATEGORY NUMBERS -->
		 <li><a href="{% url 'whsites:list' %}category/1">Cultural</a></li>
		 <li><a href="{% url 'whsites:list' %}category/2">Natural</a></li>
		 <li><a href="{% url 'whsites:list' %}category/3">Mixed</a></li>
               </ul>

	     </li>
	   </ul>

	   <!--
	       <form class="navbar-form navbar-left">
		 <input type="text" class="form-control col-lg-8" placeholder="Search">
	       </form>
	       -->
	   
           <ul class="nav navbar-nav navbar-right">
	     {% if user.is_authenticated %}
	     <li><a href="{% url 'members:home' %}">{{ user.username }}</a></li>
	     <li><a href="{% url 'members:logout' %}">Sign Out</a></li>
	     {% else %}
	     <li><a href="{% url 'register' %}">Sign Up</a></li> 
	     <li><a href="{% url 'members:login' %}">Sign in</a></li> 
	     {% endif %}
	     
	   </ul>


	 </div>
      </div>

    </div>
    <div class="container">
      <div class="page-header" id="banner">
	{% block content %}
        <div class="row">
          <div class="col-lg-12">
	    <h1>Page Title</h1>
	    <h2>Page subtitle</h2>
	  </div>
	</div>
	{% endblock %}
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>  
    <script src="{% static 'js/bootswatch.js' %}"></script>  
  </body>
</html>
