/* 
spanish red: #d8302d
spanish yellow: #f2e82e
spanish black: #2a2627
*/

h1 {
    color: #D8302D;
}
.logo{text-align:right}
img.thumbnail {
    width: 90px;
/*    margin-bottom: 0px; */
}
.thumbnail-column {
    width: 90px;
    position:absolute;
}
.description-column{
    padding-left:100px;
    height: 100px;
}

.leaflet-container {  /* all maps */
    width:  450px;
    height: 400px;
}

#thumbnailmap {
    width: 80px;
    height: 80px;
}

section {
	padding-top:60px;
	margin-top:-60px;
}
